
.About{
    display:flex;
    justify-content: center;
}

.top-section{
    font-size: 1em;
    color: black;
    text-align: center;
    width: 70vw;

}

p{
    text-align: justify;
    font-family:  "Helvetica W01 Light" ;
}
