
/* create a variable for the font of the website */
:root {
  --font-headings: 'Bebas Neue', sans-serif;
  --font-body: 'Rajdhani', sans-serif;
  --fontsize-headings: 2em;
  --main-colour: rgb(255, 100, 4);

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Heading{
  font-family: var(--font-headings);
  color: var(--main-colour);
  font:bold;
  text-transform: uppercase;
  font-size: var(--fontsize-headings);
}

div #page{
  display:flex;
  justify-content: center;
  padding-top: 7em;
}


p {
  text-align: justify;
  font-family: var(--font-body);
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #000000;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section{
  display: flex;
  justify-content: center;
  /* min-height: 100vh; */
}

/* if visited link, make orange */
a:visited{
  color: var(--main-colour);
}

.App-body{
  /* background-color: #dedede;
  min-height: 100vh;
  display: flex;
  flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}







/* NAVBAR */
.navbar {
  font-family: var(--font-headings);
  background-color: #000000;
  display: flex;
  margin-bottom: 200px;
  position: fixed;
  height: 3em;
  padding-top: 3em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


ul{
width: 100%;
justify-content: space-evenly;

}

.navbar-logo {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin-top: -1.8em;

}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  align-items: center;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  color: #ddd;
}

.qmfs-logo-navbar{
  height: 4em;
}

.hamburger {
  display: none;
  font-size: 1.5em;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* Media query for small screens */
@media (max-width: 800px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}






/* HOME PAGE */
.team-image{
  height: 20em;
  margin-top: 3em;
}







/* TEAM PAGE */
/* ABOUT PAGE */
.top-section{
  font-size: 1em;
  color: black;
  text-align: center;
  width: 50vw;
}
