
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Heading{
  color: rgb(255, 100, 4);
  font:bold;
  text-transform: uppercase;
}

div #page{
  display:flex;
  justify-content: center;
  padding-top: 7em;
}

p {
  text-align: justify;
  font-family:  "Helvetica W01 Light" ;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #ff5959;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body{
  background-color: #dedede;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HOME PAGE */
.team-image{
  /* width: 20em; */
  height: 18em;
  margin: 1em;
}
/* TEAM PAGE */
.Team{
  /* background-color: yellow; */
  font-size: 1em;
  color: black;
  font-family:  "Helvetica W01 Light" ;
  text-align: center;
  width: 90vw;
  padding-left: 2em;
}


/* ABOUT PAGE */
.top-section{
  font-size: 1em;
  color: black;
  text-align: center;
  width: 70vw;

}
